*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;  /*flex direction is for row */
    align-items:center;
    justify-content: center;
    position:sticky;       /* To fix the nav bar at the top */
    top:0;
    cursor:pointer;
}

.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 33%;
    border: 3px solid black ;
    border-radius: 90px;
}

.nav-list{
    width:50%;
    /* background-color: black; */
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration:none ;
    color: grey;
}

.nav-list li a:hover{
    text-decoration:none ;
    color: white;
}

.rightNav{
    /* background-color: red; */
    width:50%;
    text-align: right;  /*to put search in the corner */
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border:2px solid grey;
    border-radius: 9px;

}

.background{
    background: rgba(0,0,0,0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;

}


.firstSection{
    height:100vh;   /*viewport height*/
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;       /*content color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin:auto;
    height:80%;       /*To get the content in center*/
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf{
    width: 30%;

}

.secondHalf img{
    width: 100%;
    border: 4px solid white;
    border-radius:150px;
    display:block;
    margin:auto;

}

.text-big{
    font-size:38px;
}
.text-small{
    font-size:18px;
}

.btn{
    padding:8px 20px;
    margin: 7px 4px;
    border:2px solid white;
    border-radius:8px;
    /*font-size: 18px; by default font size is 16px */
    background: none;
    color:white;
    cursor: pointer;
}

.btn-sm{
    padding:6px 10px;
    vertical-align: middle;
}

.secRight{
    
}